<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Rolande Construction</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="/static/css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- fonts -->
   <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&family=Sen:wght@400;700;800&display=swap"
      rel="stylesheet">
</head>

<body>
   <!-- header section start -->
   <div class="header_section header_bg">
      <div class="container-fluid">
         <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="/" onclick="highlight(this)">Acceuil</a>
               </li>
            </ul>
            <ul class="navbar-nav mx-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/services" onclick="highlight(this)">Services</a>
               </li>
            </ul>
            <ul class="navbar-nav mx-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/projects" onclick="highlight(this)">Projects</a>
               </li>
            </ul>
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="/contact" onclick="highlight(this)">Conctactez-nous</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
   <!-- header section end -->
   <!-- services section start -->
   <div class="services_section layout_padding">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
               <h1 class="services_taital">Nos missions</h1>
            </div>
         </div>
         <div class="services_section_2">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main active">
                     <h4 class="development_text">Accompagner nos clients</h4>
                     <p class="services_text">Un cabinet de construction doit offrir un accompagnement personnalisé à chaque client, depuis la phase initiale de consultation jusqu'à la finition du projet. Cela signifie écouter attentivement les besoins et objectifs du client, lui fournir des conseils éclairés sur les options disponibles et assurer une présence active pendant toute la durée du chantier.</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <h4 class="development_text">Offrir un environnement paisible</h4>
                     <p class="services_text">Lorsque vous construisez une nouvelle maison ou effectuez des rénovations importantes, il y a souvent beaucoup de perturbations et de désordre. Le rôle d'un cabinet de construction est donc non seulement de s'assurer que le travail soit bien réalisé, mais aussi de minimiser autant que possible l'impact négatif sur votre vie quotidienne. Ils doivent veiller à maintenir un site propre et sécurisé, respecter les horaires convenus et communiquer régulièrement avec vous concernant l'avancement des travaux.</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <h4 class="development_text">Vous fournir des plans de construction bien détaillé</h4>
                     <p class="services_text">Avant même de commencer la construction, un bon cabinet devrait être capable de vous fournir des plans de haute qualité, clairs et précis. Ces documents techniques contiennent toutes les informations nécessaires pour guider chaque aspect du processus de construction, y compris les spécifications relatives aux matériaux, aux équipements et aux systèmes installés. Des plans bien conçus peuvent aider à éviter les erreurs et faciliter grandement le travail sur le terrain.</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <h4 class="development_text">Avoir un accompagnement avant et après service</h4>
                     <p class="services_text">Un cabinet de construction digne de confiance ne se contentera pas uniquement de livrer un produit final impeccable ; il sera également présent pour répondre à vos questions ou préoccupations tant avant qu'après la construction. Cet engagement va au-delà de simples garanties constructeurs : il s'agit véritablement d'établir une relation durable basée sur la transparence, la fiabilité et le professionnalisme.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- services section end -->
   <!-- about sectuion start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h1 class="about_taital">Présentation de l'entreprise</h1>
               <p class="about_text">Roland construction est spécialisée dans la prestation de services complets et personnalisés pour tous vos besoins en matière de construction et de rénovation. Depuis notre fondation il y a plus de deux décennies, nous avons acquis une solide réputation grâce à notre approche centrée sur le client et axée sur les solutions.

                  Nous accompagnons chacun de nos clients tout au long du processus de construction, depuis la phase initiale de consultation jusqu'à la finition du projet. Nous écoutons attentivement vos idées, vos souhaits et vos exigences, puis utilisons cette compréhension approfondie pour élaborer des designs innovants et fonctionnels qui correspondent parfaitement à vos attentes.</p>
            </div>
         </div>
         <div class="col-md-6">
            <h1 class="about_taital">Nos valeurs</h1>
            <p class="about_text">Focalisation sur le client: Nous croyons fermement que la satisfaction de nos clients est le moteur de notre succès. Pour atteindre cet objectif, nous adoptons une approche consultative et collaborative, cherchant toujours à comprendre pleinement vos besoins, vos goûts et vos aspirations.

               Intégrité: Honnêteté, transparence et responsabilité sont au cœur de notre culture d'entreprise. Nous tenons nos promesses, respectons nos engagements et agissons de manière éthique dans toutes les situations.
               
               Qualité: En tant qu'experts dans notre domaine, nous nous engageons à fournir un travail exceptionnel, alliant esthétique, performance et durabilité. Chaque projet est traité avec soin et attention méticuleuse, sans compromis sur les normes les plus strictes de qualité.
               
               Innovation: Restant à l'affût des dernières tendances et technologies, nous cherchons continuellement à repousser les limites de la créativité et de l'efficience opérationnelle. De la conception à la mise en œuvre, nous explorons activement de nouvelles façons d'améliorer l'expérience globale de construction.
               
               Collaboration: Nous reconnaissons que la force de notre entreprise réside dans la diversité des talents et des perspectives de notre équipe. Travaillant ensemble vers un but commun, nous favorisons une atmosphère de coopération et de soutien mutuel, encourageant chacun à apporter sa contribution unique.
               
               Respect de l'environnement: Soucieux de préserver notre planète pour les générations futures, nous adoptons des pratiques écologiquement responsables et privilégions les matériaux durables lorsque cela est possible. Parallèlement, nous aidons nos clients à faire des choix écoresponsables, promouvant ainsi une conscience collective accrue quant à l'importance de la durabilité.
               
               Fiabilité : Chez XYZ Construction Ltd., nous attachons une grande importance à instaurer un climat de confiance avec nos clients en honorant nos engagements, en respectant les délais annoncés et en offrant un service irréprochable. </p>
         </div>
      </div>
   </div>
   </div>
   <!-- about sectuion end -->

   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="location_text">
                  <ul>
                     <li>
                        <a href="#"><span class="padding_15"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                           <br>Appel +225 0707708070</a>
                     </li>
                     <li class="active">
                        <a href="#"><span class="padding_15"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                           <br>rolandeconstruction@gmail.com</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- Javascript files-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/plugin.js"></script>
<script>
   function highlight(element) {
      // Supprimer la classe "active" de tous les éléments de la navbar
      var navLinks = document.querySelectorAll('.navbar-nav .nav-link');
      navLinks.forEach(function(link) {
         link.classList.remove('active');
      });

      // Ajouter la classe "active" à l'élément sélectionné
      element.classList.add('active');
   }
</script>
</body>
</html>
